<img src="images/website-graphic.png" id="website-graphic" width="750" />

		<h2>I Build Happiness for Mobile and Web.</h2>

<div id="about">



<p>

I have developed for the last four years with Objective-C, JavaScript, Node.js, and PHP. I have the great fortune of attending <a class="footer-link" href="http://hackreactor.com">Hack Reactor</a> in San Francisco this fall to burgeon my progress as a software engineer.

</p>

<p>

When I'm not working to make your app beautiful, I spread my time among varied interests. I have played tennis since I was 13 and actively compete in singles and doubles leagues. I also enjoy learning how to cook, playing blues and classical piano, and escaping to the Columbia Gorge.

</p>

<!--
<p>

I'm a self-declared strength and nutrition geek despite not actually being that strong. I keep an online workout log for motivational purposes. Check out my Instagram page for delicious and nutritious dishes I've made.

</p>
-->

<!--
<p>

Like piano? Check out some of my recordings here.

</p>
-->

<p>

<!-- I post to my <a href="#/blog" class="footer-link">blog</a> every Friday. I mainly write recipes and tutorials for iOS development but I also enjoy writing poetry, stories, or whatever may be occupying my mind. Check out my posts by topic here. -->

</p>

<p>

If you'd like to talk about my work, making your app idea a reality, or how to hit a mean backhand, feel free to <a href="/contact" class="footer-link">get in touch</a> anytime.

</p>

<p>

Thank you,

</p>

<p>

Benjamin J. Martin

</p>

</div>
