<div class="left-section float-clear">
	<div class="work-image float-left"></div>
	<div class="work-description float-right">
		<h3 class="project-title">Famo.us (link) - Swiper</h3>
		<p class="project-description">
			I worked with three other Hack Reactor engineers to create "Tinder for music" with the cutting-edge Famous framework. We presented our project in front of an audience of 500 at Famous' first live demo. See our presentation here (link).
		</p>
	</div>
</div>

<div class="right-section float-clear">
	<div class="work-image float-right"></div>
	<div class="work-description">
		<h3 class="project-title">Versal (link) - Deeper Diagram</h3>
		<p class="project-description">
			I teamed up with another Hack Reactor engineer to build a diagramming gadget for Versal's course-building platform.
		</p>
	</div>
</div>


<div class="left-section float-clear">
	<div class="work-image float-left"></div>
	<div class="work-description float-right">
		<h3 class="project-title">Gray Player</h3>
		<p class="project-description">
			Gray Player is one of the most fun projects I've built. What started out as a simple iTunes clone in Backbone became an adventure in audio visualization. My rockstar partner Stephen (link) and I used dancer.js to process audio data and d3.js to create a visualization of that data.
		</p>
	</div>
</div>

<div class="right-section float-clear">
	<div class="work-image float-right"></div>
	<div class="work-description">
		<h3 class="project-title">Blackjack</h3>
		<p class="project-description">
			Chicken dinner anyone?
		</p>
	</div>
</div>

<div class="left-section float-clear">
	<div class="work-image float-left"></div>
	<div class="work-description float-right">
		<h3 class="project-title">Collider</h3>
		<p class="project-description">
			D3 game built from scratch with Socket.io for multiplayer fun.
		</p>
	</div>
</div>

<div class="right-section float-clear">
	<div class="work-image float-right"></div>
	<div class="work-description">
		<h3 class="project-title">Data Structures Sprint</h3>
		<p class="project-description">
			Deep dive into data structures from stacks and queues through doubly-linked lists and auto-balancing binary search trees.
		</p>
	</div>
</div>


