<img src="images/website-graphic.png" id="website-graphic" width="750" />

		<h2>I Build Happiness for iOS.</h2>

<div id="about">



<p>

Hi there! I'm Ben. I have developed for the last four years with assembly, C, C++, Java, the browser stack (HTML/CSS/JavaScript), PHP, Ruby, Node, and Objective-C. Through these varied platforms, iOS development has stuck out as my clear favorite. My enjoyment for it allows me to do the best work I am capable of.

</p>

<p>

When I'm not working to make your app beautiful, I spread my time among varied interests. I have played tennis since I was 13 and actively compete in singles and doubles leagues. I also enjoy learning how to cook, playing blues and classical piano, and escaping to the Columbia Gorge.

</p>

<!--
<p>

I'm a self-declared strength and nutrition geek despite not actually being that strong. I keep an online workout log for motivational purposes. Check out my Instagram page for delicious and nutritious dishes I've made.

</p>
-->

<!--
<p>

Like piano? Check out some of my recordings here.

</p>
-->

<p>

<!-- I post to my <a href="#/blog" class="footer-link">blog</a> every Friday. I mainly write recipes and tutorials for iOS development but I also enjoy writing poetry, stories, or whatever may be occupying my mind. Check out my posts by topic here. -->

</p>

<p>

If you'd like to talk about my work, making your app idea a reality, or how to hit a mean backhand, feel free to <a href="/contact" class="footer-link">get in touch</a> anytime.

</p>

<p>

Thank you,

</p>

<p>

Benjamin J. Martin

</p>

</div>