* {
	margin: 0;
	padding: 0;	
}

html, body {
	height: 100%;
}

body {
	background-color: #282E3A;
	font-family: "Proxima Nova Soft";
	font-size:2em;
	color:white;	
}

h2 {
	margin:30px 0 60px;
	font-size:2em;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -188px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 188px; 
}

a {
	cursor:pointer;
	text-decoration: none;
	color:white;
}

p {
	text-align:left;
	font-size:1em;
	line-height:1.3em;
	margin:20px 0;
}

.p-center {
	text-align:center;
}

#content {
	min-height: 400px;
	width: 750px;
	margin: 30px auto 0;
	padding: 20px;
	font-size: 0.5em;
	text-align: center;
	background-size: 750px 750px;
	background-repeat: no-repeat;
	background-position: center center;
}

	#social-icons {
		width:120px;
		height:50px;
		border:none;		
		display: inline-block;
/* 		background-image:url("social-icons.png"); */
/* 		background-size:50px 50px ; */
		background-repeat: no-repeat;
	}
	
		#linked-in {
			background: url("../assets/social-icons.png") 0 0;
			width:49px;
			height:49px;			
			display:inline-block;
			margin-right:10px;
		}
		
		#twitter {
			background: url("../assets/social-icons.png") 49px 0;
			width:49px;
			height:49px;
			display:inline-block;
/* 			float:left; */
		}
		
#border-div {
	background-image:url('../assets/dot.png');
	background-repeat:repeat;
	height:5px;
	width:100%;
}

footer {
	font-size: 0.5em;
	text-align: center;
	width:750px;
	margin:0 auto;
	padding:20px;
	border-left:none;
	border-right:none;
	border-bottom:none;
	line-height:50px;
}

	footer span {
		line-height:50px;
	}

	.footer-link {
		color: #D8BFD8;
		/* alternate darker color: #BDA0CB	 */
	}
	
#title-wrap {
	margin:0 auto;
	width:593px;
	height:100px;
	margin:50px auto;
	
}
	
#portrait {
	background-image:url("../assets/ben2.png");
	background-size:100px 100px;
	background-repeat:none;
	width:100px;
	height:100px;
	border-radius:50px;
	float:left;
}
	
h1 {
	text-align: center;
	font-weight:700;
	float:left;
	line-height:100px;
	margin-left:30px;
}

#navigation a {
	padding:30px;
}

#navigation {
	text-align:center;
	font-weight:400;
	clear:left;
	font-size:1em;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1em;
	margin-bottom: 20px;
}

h5 {
	font-size: 1em;
	margin-bottom:40px;
	text-align:left;
}

article {
	text-align:left;
}

section {
	margin-bottom:50px;
}

input {
	margin:30px auto;
	display:block;
	width:500px;
	height:40px;
	font-size:22px;
	border-radius:5px;
	border:2px solid white;
	padding:10px;
	outline:0;
	font-weight: 300;
	font-family: "Proxima Nova Soft";
}

input[type="submit"] {
	background: transparent;
	border: 3px solid #FFF;
	color: #FFF;
	cursor: pointer;
	height: 55px;
	width:500px;
	padding:10px;
	-webkit-box-sizing: padding-box;
}

textarea {
	font-weight: 300;
	outline:0;
	padding:10px;
	border:2px solid white;
	height:300px;
	width :500px;
	display:block;
	margin:0 auto;
	border-radius:3px;
	font-family: "Proxima Nova Soft";
	font-size:22px;
}

#email.error {
	border-color:red;
}

#email.error::after {
	content:"Please enter a valid email address.";
	color:red;
	position:relative;
	right:-110%;
	top:-20px;

}

#body.error {
	border-color:red;
}

#body + #error-div {
	display:none;

}

#body.error + #error-div {
	display:inline-block;
	color:red;
	position:relative;
	right:-417px;
	top:-175px;
	font-size:22px;
}

input, textarea {
	-webkit-transition:1s opacity;
}

input:not([type="submit"]).faded, textarea.faded {
	opacity:0.5;
}

.blog-post-title:hover {
	text-decoration: underline;
}

code {
	background-color: #282E3A !important;
}

pre {
/* 	border:1px solid #D8BFD8  !important; */
	border:none !important;
	padding:10px !important;
	background-color:#222 !important;
/*
	border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	-o-border-radius: 0 !important;
*/
	margin:0 !important;
}


.blog-post-image {
	height:492px;
	width:733px;
	margin:30px 0;
}

